button span {
	/*overwriting*/
	color: white;
	font-size: 20px;
}

.navbar-toggler:focus{
	border: 2px solid white;
	background-color: #1687A7;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-white{
	color: white;
}

.nav-link:hover{
	color: black;
	background-color: #1687A7;
}

.tombol-hover{
	background-color: #1687A7;
	color: white;
}

.tombol-hover:hover{
	color: white;
	background-color: #276678;
	cursor: pointer;
}

@media screen and (max-width: 900px) {
  li a {
  	border-bottom: 2px solid #D3E0EA;
  }
}